article {
  background-color: antiquewhite;
  width: 20%;
  padding: 2px 10px;
  border-radius: 10px;
  margin: 10px;
}

h2 {
  font-family: "Trebuchet MS";
}

.price {
  color: green;
  font-size: 24px;
  font-family: Impact;
}

.price > s {
  color: gray;
  font-size: 18px;
}

button {
  background-color: green;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}

button:hover {
  background-color: lime;
  cursor: pointer;
}
